.container{
    display:flex;
    flex-wrap:wrap;
    width:90%;
    margin:auto;
}
.project{
    flex:1;
    /* padding:2%; */
    margin:2%;
    display:flex;
    flex-direction: column;
    height:50vh;
    width:28%;
    position:relative;
}
.project>img{
    border-radius:5%;
    height:100%;
    object-fit: cover;
    border:1px solid var(--primary-color);
}
.projectName{
    display:flex;
    justify-content: space-between;
    position:absolute;
    bottom:-1px;
    background:var(--white);
    width:100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding:0px 10px;
    box-sizing: border-box;
    opacity:0;
    transition:all 0.5s ease-in-out;
}
.project:hover  .projectName{
    opacity:1;
}
.projectName>p{
    font-weight:500;
}
.projectName>div>a>svg{
    background:var(--third);
    padding:5px;
    margin-top:5px;
    color:white;
    border-radius:5px;
}
.ongoing{
    width:100%;
    text-align: center;
    font-size:1.2vw;
    color:var(--secondary-color)
}
.buttonContainer{
    margin-top:-1%;
    width:100%;
    display:flex;
    justify-content: center;
}
.loadmore{
    width:15%;
    height:8vh;
    text-align: center;
    background:var(--third);
    border:none;
    color:white;
    border-radius:10px;
    font-size:2vw;
    outline:none;
}