.wrapper{
    /* background:linear-gradient(30deg,var(--white) 50%,var(--third) 50%); */
}
.title{
    margin-bottom:-5% !important;
}
.container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    /* background:var(--whiteTwo); */
    height:100vh;
    padding:0;
    width:60vw;
    margin:auto;
}
.userCard{
    background:var(--third);
    width:30%;
    height:80%;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.userCard>img{
    height:auto;
    width:17vw;
}
.userCard>div{
    background:var(--primary-color);
    margin-top:auto;
    padding:8%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.userCard>div>p{
    margin:0;
    padding:0;
    font-size:1vw;
}
.userCard>div>h5{
    margin:0;
    padding:0;
}
.eduContainer{
    background:var(--primary-color);
    width:70%;
    min-height:80%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.eduContainer>div{
    display:flex;
    flex-direction: row;
    margin:1%;
    width:90%;
    justify-content: space-around;
}
.eduContainer>div>svg{
    background:var(--third);
    padding:5px;
    border-radius:5px;
}
.eduContainer>div>div{
    padding:0% 3%;
    background:var(--white);
    width:80%;
    border-radius: 10px;
}
.hobbies{
    margin-top:0;
}
@media screen and (max-width:1100px){
    .container{
        width:90vw;
    }
}
@media screen and (max-width:700px){
    .container{
        margin-top:15%;
    }
    .hobbies{
        visibility:hidden;
    }
    .container{
        flex-direction:column-reverse;
    }
    .userCard{
        visibility:hidden;
    }
    .eduContainer{
        border-radius: 10px;
        align-items: center;
        width:90%;
    }
    .hobbies>p{
        font-size:1.5vw !important;
    }
}
@media screen and (max-width:400px){
    .eduContainer>div>div>h4{
        font-size:2vw;
    }
    .eduContainer>div>div>p{
        font-size:2vw;
    }
    .eduContainer>div>svg{
        font-size:3vw;
    }
    .container{
        height:90vh;
        margin-top:20%;
    }
}
@media screen and (max-width:450px){
    .eduContainer>div>div>h4{
        font-size:4vw;
    }
    .eduContainer>div>div>p{
        font-size:2.5vw;
    }
    .eduContainer>div>svg{
        font-size:3vw;
    }
    .container{
        height:90vh;
        margin-top:20%;
    }
}
@media screen and (max-width:350px){
    .container{
        margin-top:30%;
    }
}