.container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background:var(--whiteTwo);
    height:100vh;
}
.nameContainer>p{
    margin:0;
    padding:0;
    font-size:1.5vw;
}
.nameContainer>h1{
    font-weight: 800;
    font-size:3vw;
    margin:0;
    padding:0;
}
.buttonContainer{
    display:flex;
    width:80%;
    justify-content: space-between;
    margin-top:5vh;
}
.buttonContainer>button{
    min-width:45%;
    max-width:max-content;
    display:block;
    padding: 10px;
    border-radius: 10px;
    border:none;
    background:var(--third);
    font-size:1.5vw;
    color:var(--white);
    outline:none;
}
.buttonContainer>button>a{
    text-decoration:none;
    color:var(--white)
}
.buttonContainer>button>a>svg{
    vertical-align: bottom;
    margin-right:2px;
}
.icons{
    display:flex;
    flex-direction: column;
    bottom:0;
    left:0;
    position:absolute;
    margin:5px;
}
.icons>a>svg{
    /* border:1.5px solid var(--secondary-color); */
    margin:3px;
    border-radius:2px;
    padding:10%;
    font-size:1.5vw;
    color:var(--secondary-color);
    border:1.5px solid transparent;
    border-radius:5px;
}
.icons>a>svg:hover{
    border:1.5px solid var(--third);
    color:var(--third);
}
.gmail{
    writing-mode: vertical-lr;
    position:absolute;
    right:0;
    color:var(--secondary-color);
    top:12vh;
}
.container>div>img{
    height:auto;
    width:40vw;
}