.container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:75%;
    margin:auto;
    align-items: center;
    text-align: center;
    background:var(--primary-color);
    border-radius:10px;
    justify-content: center;
}
.container>div>img{
    height:12vh;
    width:12vw;
}
.container>div{
    background:var(--white);
    width:25%;
    margin:2%;
    min-height:30vh;
    padding:0.5%;
    border-radius:10px;
    box-shadow: 3px 3px 2px var(--secondary-color);
}
.container>div>h5{
    margin:0;
    padding:5px;
    background:var(--third);
    width:50%;
    margin:auto;
    border-radius:5px;
}
.container>div>p{
    color:var(--secondary-color);
    font-size:1rem;
    margin-bottom:2px;
}
.myProgress{
    width:90%;
    margin:auto;
    height:6px;
    border-radius: 5px;
    background-color:var(--primary-color);
}
.myBar{
    width:10%;
    height:5px;
    border-radius: 5px;
    background-color:var(--third);
}