.wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:10%;
}
.wrapper>p{
    margin:0;
    padding:0;
    font-size:0.95vw;
    color:grey;
    margin-bottom:2%;
}
.container{
    /* height:80vh; */
    width:80vw;
    margin: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    background:var(--white);
    padding:10px;
    border-radius: 10px;
    margin-top:3%;
    box-shadow: 3px 3px 2px var(--secondary-color);
}
.left{
    width:40%;
    border-radius: 20px;
}
.left>div{
    margin-top:5vh;
}
.left>div>h2{
    color:var(--third);
    font-weight: 500;
    margin-bottom:2%;
    width:75%;
    margin:auto;
}
.left>div>p{
    font-weight:50;
    font-size:1.2vw;
    color:rgb(146, 146, 146);
    margin:auto;
    width:75%;
    margin-top:1%;
}
.details{
    width:75%;
    margin:auto;
    font-size:1vw;
    color:var(--third);
    display:flex;
    flex-direction: column;
}
.details>div{
    display:flex;
    flex-direction: row;
}
.details>div>p{
    font-size:1.2vw;
}
.details>div>svg{
    color:#000000;
    margin:3%;
    /* vertical-align: bottom; */
    margin-top:5%;
}
.socialIcons{
    width:70%;
    margin:auto;
    display: flex;
    justify-content: space-between;
}
.socialIcons>a>svg{
    color:var(--third);
    /* margin-top:25%; */
    border-radius: 50%;
    padding:5px;
    transition:all 0.2s ease-in ;
    cursor:pointer;
}
.socialIcons>a>svg:hover{
    background:var(--third);
    color:black;
}
.right{
    /* background:var(--white); */
    background:var(--third);
    width:60%;
    /* height:80vh; */
    padding:2%;
    box-sizing: border-box;
    border-radius: 5px;
}
.rightContainer{
    width:100%;
    display:flex;
    justify-content: space-between;
    /* background:red; */
}
.rightContainer>div{
    display:flex;
    width:70%;
    /* background:green; */
    justify-content: space-between;
    /* flex-wrap: wrap; */
    flex-direction:column;
    /* margin:auto; */
}
.rightContainer>div>div{
    /* width:100%; */
    display:flex;
    flex-direction: column;
    margin-bottom:2%;
}
.rightContainer>div>div>input{
    border:none;
    padding-bottom:5%;
    border-bottom: 1.5px solid var(--primary-color);
    background:none;
    outline:none;
}
.rightContainer>div>div>input::placeholder{
    /* font-size: 1vw; */
    padding:2%;
    color:rgb(154, 190, 255);
}
.rightContainer>div>div>input:active,
.rightContainer>div>div>input:focus{
    border-bottom: 2px solid var(--primary-color);
    background:none;
}
.rightContainer>div>div>label{
    padding:2%;
    color:var(--primary-color)
}
.message{
      display:flex;
      flex-direction: column;
      width:50%;
      margin-left: 3vh !important;
      height:100%;
      margin-top:-3vh;
  }
  .message>textarea{
    outline:none;
    border:none;
    padding:5px;
    border-bottom: 1.5px solid var(--primary-color);
    width:100%;
    height:30vh;
    border-radius:5px;
    background:var(--white);
    resize:none;
    /* padding-left:10px; */
}
.message>textarea::placeholder{
    /* font-size: 1vw; */
    padding:1%;
    color:var(--third);
}
.message>input:active,
.message>input:focus{
    border-bottom: 2px solid var(--primary-color);
}
.message>label{
    padding:2%;
    color:var(--primary-color)
}
.message>label>p{
    padding-bottom:0;
    margin-bottom:0;
}
.send{
    display:flex;
    padding:1% 3%;
    float:right;
    margin-top:2%;
    background:var(--primary-color);
    border:none;
    border-radius: 5px;
    color:var(--third);
    outline:none;
    font-size:1.5vw;
}
.send>svg{
    margin-left:2vh;
    vertical-align: bottom;
    /* margin-top:-2%; */
}
.query{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.query>div{
    flex:1;
    display:flex !important;
    flex-direction: row !important;
    justify-content: space-around;
    color:var(--primary-color);
}
.q{
    font-size: 1.5vw;
}
input[type='radio']{
    vertical-align: top;
}
input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    padding: 1px;
    background-clip: content-box;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
  }
input[type="radio"]:checked{
    background-color:var(--white);
    border:1px solid var(--white);
  }
input[type="radio"]:focus{
    outline:none;
  }
.thanks{
    display:flex;
    padding:0 3%;
    float:right;
    margin-top:2%;
    background:var(--primary-color);
    border:none;
    border-radius: 5px;
    color:var(--third);
    outline:none;
    font-size:1.5vw;
    user-select: none;
    cursor:not-allowed;
}
.thanks>p{
    font-size:1.5vw;
    font-weight:600;
    padding:2px;
    margin:2px;
}
  @media screen and (max-width:950px){
    .container{
        display:flex;
        flex-direction: column;
    }
    .left{
        width:100%;
    }
    .right{
        width:100%;
    }
    .rightContainer>div{
        width:90%
    }
    .left>div>h2{
        font-size:5vw;
        text-align: center;
    }
    .left>div>p{
        text-align: center;
        font-size:3vw;
    }
    .details{
        width:90%;
        display:flex;
        margin:auto;
        /* align-items: center; */
        width:100%;
        /* align-items: flex-start; */
    }
    .details>div>p{
        margin-top:15px;
        font-size:2.8vw;
    }
    .details>div{
        width:60%;
        margin:auto;
        align-items: flex-start;
    }
    .message>textarea{
        padding:0;
    }
    .q{
        font-size:2.5vw;
    }
    .send>svg{
        display:none;
    }
    .query>div{
        font-size: 2.5vw;
    }
    input[type="radio"]{
        height:1em;
        width:1em;
    }
}
@media screen and (max-width:400px){
    .rightContainer{
        flex-direction: column;
    }
    input[type="radio"]{
        height:0.75em;
        width:0.75em;
    }
    .q{
        font-size:3.5vw;
    }
    .query>div{
        font-size: 3vw;
    }
    .thanks>p{
        font-size:3vw;
        margin:0;
        padding:5px;
    }
}