html {
  --primary-color:#dbe0ff;
  --secondary-color:#8d93ab;
  --third:#6D83F2;
  --white:#f1f3f8;
  --whiteTwo:#fff;
  scroll-behavior: smooth;
  --blue:rgb(154, 190, 255);
  --thirdF:#6D83F2;
  --secondary-colorF:#8d93ab;
  --primary-colorE:#dbe0ff;
  --black:#000000;
  --primary-colorS:#dbe0ff;
  --whiteS:#f1f3f8;
  --primary-colorP:#dbe0ff;
  --thirdP:#6D83F2;
  --primary-colorA:#dbe0ff;
  --thirdA:#6D83F2;
  --primary-colorU:#dbe0ff;
}
html[data-theme="dark"] {
  --black:#F8F8F8;
  --primary-color:#dbe0ff;
  --secondary-color:#3e4047;
  --third:#6D83F2;
  --white:#000000;
  --whiteTwo:#191919;
  scroll-behavior: smooth;
  background:#191919;
  --blue:#dbe0ff;
  --thirdF:#8d93ab;
  --secondary-colorF:#8593db;
  --primary-colorE:#000000;
  --primary-colorS:transparent;
  --whiteS:transparent;
  --primary-colorP:black;
  --thirdP:#6D83F2;
  --primary-colorA:black;
  --thirdA:#6D83F2;
  --primary-colorU:black;
}
body{
  overflow-x: hidden;
}
.fa-star{
  margin-right:5px;
  color:#3e4047;
}
.checked {
  color: var(--third);
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8b9cf1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--third);
}
button{
  cursor:pointer;
  outline:none;
}
html.theme-transition,
html.theme-transition *,
html.theme-transition *:before,
html.theme-transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    background:transparent !important
}
@media screen and (max-width:360px){
  body{
    overflow-x: scroll;
  }
}