:root{
  --primary-color:#dbe0ff;
  --secondary-color:#8d93ab;
  --third:#6D83F2;
  --white:#f1f3f8;
  --whiteTwo:#fff;

}
.checked {
  color: var(--third);
}
.fa-star{
  margin-right:5px;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8b9cf1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--third);
}