html {
  --primary-color:#dbe0ff;
  --secondary-color:#8d93ab;
  --third:#6D83F2;
  --white:#f1f3f8;
  --whiteTwo:#fff;
  scroll-behavior: smooth;
  --blue:rgb(154, 190, 255);
  --thirdF:#6D83F2;
  --secondary-colorF:#8d93ab;
  --primary-colorE:#dbe0ff;
  --black:#000000;
  --primary-colorS:#dbe0ff;
  --whiteS:#f1f3f8;
  --primary-colorP:#dbe0ff;
  --thirdP:#6D83F2;
  --primary-colorA:#dbe0ff;
  --thirdA:#6D83F2;
  --primary-colorU:#dbe0ff;
  --whiteF:#fff;
  --whiteB:#dbe0ff
}
html[data-theme="dark"] {
  --black:#F8F8F8;
  --primary-color:#dbe0ff;
  --secondary-color:#3e4047;
  --third:#6D83F2;
  --white:#000000;
  --whiteTwo:#191919;
  scroll-behavior: smooth;
  background:#191919;
  --blue:#dbe0ff;
  --thirdF:#8d93ab;
  --secondary-colorF:#8593db;
  --primary-colorE:#000000;
  --primary-colorS:transparent;
  --whiteS:transparent;
  --primary-colorP:black;
  --thirdP:#6D83F2;
  --primary-colorA:black;
  --thirdA:#6D83F2;
  --primary-colorU:black;
  --whiteF:black;
}
body{
  overflow-x: hidden;
}
.fa-star{
  margin-right:5px;
  color:#3e4047;
}
.checked {
  color: var(--third);
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8b9cf1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--third);
}
button{
  cursor:pointer;
  outline:none;
}
html.theme-transition,
html.theme-transition *,
html.theme-transition *:before,
html.theme-transition *:after {
  transition: all 2s ease!important;
  transition-delay: 2s !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 2s;
    background:transparent !important
}
.switch,.switchC{
  position:fixed;
  left:2%;
  margin-top:8%;
  padding:5px 10px;
  font-size:1.2vw;
  background:var(--black);
  border:none;
  outline:none;
  padding:10px;
  z-index:1100;
}
.switchC{
  background:var(--third);
}
.box{
  width:20px;
  height:20px;
}
.switch .fa-moon{
  color:white;
}
.rotate {
  animation: rotation 7s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@media screen and (max-width:1068px){
  .switchC{
    left:18px;
  }
}
@media screen and (max-width:1000px){
  .switchC{
    left:17px;
  }
  .switch,.switchC{
    margin-top:10%;
  }
}
@media screen and (max-width:900px){
  .switchC{
    margin-top:58px;
    left:16px;
  }
  .switch,.switchC{
    margin-top:10%;
    font-size:1.9vw;
  }
}
@media screen and (max-width:800px){
  .switchC{
    margin-top:55px;
    left:15px;
  }
  .switch,.switchC{
    margin-top:12%;
  }
}
@media screen and (max-width:750px){
  .switch,.switchC{
    margin-top:-25%;
    font-size:2.5vw;
  }
  .switch{
    left:18px;
  }
}
@media screen and (max-width:550px){
  .switch,.switchC{
    margin-top:-20%;
  }
}
@media screen and (max-width:500px){
  .switch,.switchC{
    margin-top:-35%;
    font-size:2.5vw;
  }
}
@media screen and (max-width:470px){
  .switch,.switchC{
    margin-top:-35%;
    font-size:2.5vw;
  }
  .switchC{
    left:15px;
  }
}
@media screen and (max-width:450px){
  .switchC{
    left:14px;
  }
  .switch{
    font-size:2.9vw;
  }
}
@media screen and (max-width:400px){
  .switch,.switchC{
    margin-top:-34%;
  }
  .switch{
    font-size:3.3vw;
  }
}
@media screen and (max-width:370px){
  body{
    overflow-x: scroll;
  }
  .switch,.switchC{
    margin-top:-50%;
  }
  /* .switchC{
    top:2px;
  } */

}